.Rproj.user
.Rhistory
.RData
.Ruserdata
model
*.html
report/Figures
*.Rproj
*.pdf
/.luarc.json
/outputs/
/inputs/
/.R-library/
/.kflow-runtime-cache/
/data/
/bet-2026-report/pipeline-inputs/
/.quarto/
/bet-2026-report/.quarto/
/.kflow-rstudio.Rproj
**/.kflow-rstudio.Rproj
.Rhistory
.RData
/.positai
